// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

h1 {
    display:none;
}

.field--name-body p {
       margin: 5% 5%;
    }
    
.l-header{
   @include clearfix;
}

.l-branding{
    width:100%;
    height: 100px;
    display:block;
    }

.l-main{
@include clearfix;
}

.l-region--sidebar-first{
display: none;
}

.footer p{
    margin: 0% 5%;
}

@include breakpoint($tab){
    .field--name-body p {
       margin: 5% 5%;
    }
    .l-header{
       @include clearfix;
    }
 
    .l-region--sidebar-first{
        @include grid-span(3,10);
        display:block;
     }
     .l-content{
         @include grid-span(9,1);
      }
      h1 {
        display:none;
      }
      .footer p {
          margin: 0% 5%;
      }
}


